<html>
  <head>
    <title>GoNode - Módulo 0: Desafio</title>
  </head>
  <body>
    <form method="POST" action="/check">
      <input type="text" name="nome" placeholder="Digite seu nome" /><br/>
      <input type="date" name="dataNascimento" placeholder="Digite sua data de nascimento" /><br/>
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>